<!--Coltin Barney Assignment 7 2/25/2021-->
@{
    ViewData["Title"] = "Home Page";
}
@model ProjectListViewModel
<header>
    
</header>

@foreach (var x in Model.Books)
{//Outputs database with formatting
    <partial name="ProjectSummary" model="x"/>
}
<div asp-validation-summary="All"></div>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.Category"
     class="btn-group pull-right m-1"></div>